[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "github/vim-commentary"]
	path = github/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "github/vim-plug"]
	path = github/vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule "github/zgen"]
	path = github/zgen
	url = https://github.com/tarjoilija/zgen.git
[submodule "github/mc-solarized-skin"]
	path = github/mc-solarized-skin
	url = https://github.com/pavlo/mc-solarized-skin.git
[submodule "github/powerline-fonts"]
	path = github/powerline-fonts
	url = https://github.com/powerline/fonts
[submodule "pyenv"]
	path = pyenv
	url = https://github.com/pyenv/pyenv.git
